{% load static %}

<link rel="stylesheet" href="{% static "" %}Base/Header/css/Main_Header.css">
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

<header class="header-login-signup">
	<div class="header-limiter">
		{% for i in Header_Logo_Text %}
		<h1><a href="{{ i.slug }}">{{ i.part_one }}<span>{{ i.part_two }}</span></a></h1>
		{% endfor %}
		<nav>
			{% for i in Header_Items_Left %}
			<a href="{{ i.slug }}">{{ i.title }}</a>
			{% endfor %}
		</nav>
		<ul>
			{% for i in Header_Items_Right %}
			<li><a href="{{ i.slug }}">{{ i.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</header>